<h1>There are {{ count }} words in your text</h1>
<a href="{% url 'home' %}">START AGAIN</a>
<h1>Your Text:</h1>
{{ fulltext }}

<h1>Word Count</h1>
{% for word, counttotal in sortedword%}

{{ word }} - {{ counttotal }}
<br />
{% endfor %}