<h1>Word Count</h1>

<form action="{% url 'count' %}" >
	<textarea cols="40" rows="10" name="fulltext"></textarea>
	<br />
	<input type="submit" value="Count!" />
	<br />
	<a href=" {% url 'about' %}">About Us</a>
</form> 